html, body {
  height: 100%;
  width: 100%;
  background-color: #0a0a0a ;
}

h1 {

color: #ffffff ;
font-family: Sans-serif
  
}

h2 {

color: #ffffff ;
font-family: Sans-serif
  
}

h3 {

color: #ffffff ;
font-family: Sans-serif
  
}

h4 {

color: #c3c3c3 ;
font-family: Sans-serif
  
}

p1 {

color: #ffffff ;
font-family: Sans-serif
  
}

a1 {

color: #4ac7f0 ;
font-family: Sans-serif
  
}